.containers{
    width: 40%;
    min-width: 350px;
    background-color: white;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-left: 250px !important;

    #newtask{
        padding: 30px 20px;
        justify-content: space-between;
    }

    #taskinfo{
        width: 75%;
        height: 35px;
        border: 2px solid #d1d3d8;
        border-radius: 6px;
        color: #111115;
        font-weight: 400;
        padding-left: 5px;
    }

    #taskinfo:focus{
        outline: none;
        border-color: #0d75ec;
    }

    #add{
        width: 20%;
        height: 35px;
        border-radius:5px;
        font-weight: 500;
        background-color: #7C4DFF;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;
    }    
    #tasklist{
        margin-bottom: 9px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .task{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c5e1e6;
        height: 45px;
        margin-bottom: 9px;
        padding: 5px 10px;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #939697;
    }
    .del{
        color:#d11a2a;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
       
    }
}